* {
	margin: 0;
	padding: 0;
}
:root {
	--FG: #5b33b3;
}
body {
	background-color: black;
}
.sidebar {
	position: fixed;
	height: 100%;
	width: 5%;
	background-color: var(--FG);
	left: 0%;
	top: 0%;
}

.topbar {
	position: fixed;
	width: 35%;
	height: 8%;
	left: 35.5%;
	top: 0%;
	background-color: var(--FG);
	border-bottom-left-radius: 45px;
	border-bottom-right-radius: 45px;
}

.input input {
	position: fixed;
	top: 90%;
	left: 30%;
	height: 7%;
	width: 50%;
	background-color: black;
	border-width: 4px;
	border-color: var(--FG);
	border-radius: 25px;
	color: white;
	font-size: 22px;
	text-align: center;
}
