@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  --fore: #0a0a0a;
  --back: #020202;
  --accent: #79d2f1;
  background-color: var(--back);
  font-family: 'Montserrat', sans-serif;
}

.close-1 {
  position: absolute;
  left: 103%;
  /* margin-top: 0%; */
  vertical-align: middle;
  font-size: 2rem;
  color: white;
  background-color: red;
  padding: 10px 20px;
  border-radius: 50%;
}

#title {
  color: white;
  font-size: 2.5rem;
  position: absolute;
  left: 37%;
  top: 3%;
}

#create-but {
  position: absolute;
  top: -20%;
  left: 80%;
  color: lightgreen;
  border: 1px solid lightgreen;
  background-color: var(--back);
  padding: 0.75rem;
  width: 10%;
  font-size: 1.5rem;
  font-weight: 500;
}

#create {
  background-color: var(--back);
  position: fixed;
  width: 70%;
  left: 15%;
  top: 10%;
  padding-bottom: 50px;
}

#create-ann-input {
  color: white;
  position: relative;
  background-color: var(--back);
  border: 0;
  border-bottom: 1px solid white;
  width: 80%;
  left: 10%;
  margin-top: 5%;
  padding: 1rem;
  font-size: 1.5rem;
  transition: 0.5s ease-in-out;
  resize: none;
}

#create-ann-input:focus {
  outline: 0;
  border: 0;
  border-bottom: 1px solid var(--accent);
}

#create-ann-check {
  margin-top: 5%;
  position: relative;
  color: white;

  -webkit-column-count: 6; /* Chrome, Safari, Opera */
  -moz-column-count: 6; /* Firefox */
  column-count: 4;
  line-height: 3rem;
  font-size: 1.5rem;
  column-width: 0.1rem;
  left: 5%;
  width: 90%;
  height: 17rem;
  top: 50%;
  overflow-y: hidden;
  overflow-x: overlay;
}
#create-create {
  position: relative;
  width: 20%;
  left: 40%;
  margin-top: 5%;
  padding: 1rem;
  font-size: 2rem;
  background-color: var(--back);
  border: 1px solid lightgreen;
  color: lightgreen;
  transition: 0.3s ease-in-out;
  /* border-radius: 20px; */
}

#create-create:hover,
#create-create:focus {
  background-color: lightgreen;
  color: var(--back);
  cursor: pointer;
}

#create-back {
  position: relative;
  width: 20%;
  left: 20%;
  margin-top: 5%;
  padding: 1rem;
  font-size: 2rem;
  background-color: var(--back);
  border: 1px solid red;
  color: red;
  transition: 0.3s ease-in-out;
  /* border-radius: 20px; */
}

#create-back:hover,
#create-back:focus {
  background-color: red;
  color: var(--back);
  cursor: pointer;
}

#class-selector {
  color: white;
  position: absolute;
  left: 5%;
  top: 15%;
}

#class-selector-select-sec,
#no {
  position: relative;
  left: 5%;
}

#select-button {
  position: relative;
  left: 10%;
}
#announcements {
  position: absolute;
  background-color: var(--back);
  color: white;
  top: 30%;
  left: 5%;
  width: 90%;
  height: 100%;
}

.a {
  margin-top: 4%;
  position: relative;
  width: 90%;
}
metadata {
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
  left: 2%;
}

metadata:hover {
  cursor: pointer;
}

timestamp {
  position: relative;
  margin-left: 1%;
  font-size: 1rem;
}

content {
  font-size: 1.5rem;
  position: relative;
  left: 3%;
  top: 30%;
  text-align: center;
  font-weight: 200;
  line-height: 2.2rem;
}

#wrapper {
  transition: 0.3s ease-in-out;
  opacity: 1;
}

.hide {
  opacity: 0;
  pointer-events: none;
}
