@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  transition: 0.5s ease-in-out;
}

body {
  --fore: #0a0a0a;
  --back: #020202;
  --accent: #79d2f1;
  background-color: var(--back);
  font-family: 'Montserrat', sans-serif;
}

#side-panel {
  position: fixed;
  width: 25%;
  height: 100%;
  background-color: var(--fore);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#side-panel::-webkit-scrollbar {
  display: none;
}

#side-panel-top {
  position: relative;
  width: 100%;
  height: 10%;
  background-color: var(--fore);
}

#add-channel {
  position: relative;
  font-size: 2rem;
  color: white;
  left: 2%;
  width: 1.1rem;
  top: 10%;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#add-channel:hover {
  color: var(--accent);
}

#channels {
  position: relative;
  width: 100%;
  height: 90%;
}

.channel {
  position: relative;
  width: 100%;
  height: 10%;
  font-size: 1.5rem;
  text-align: center;
  line-height: 3.5rem;
  color: white;
  border-left: 1px solid var(--fore);
  transition: 0.2s ease-in-out;
  /* margin-bottom: 1px; */
}

.border:hover {
  border-left: 1px solid var(--accent);
  color: var(--accent);
  cursor: pointer;
}

#main-panel {
  position: fixed;
  width: 75%;
  height: 100%;
  background-color: var(--back);
  overflow-y: scroll;
  left: 25%;
}

#main-panel-profile {
  position: fixed;
  width: 75%;
  height: 10%;
  background-color: var(--back);
  color: white;
  font-size: 2rem;
  text-align: center;
}

#main-panel-profile:hover {
  color: var(--accent);
  cursor: pointer;
}

#main-panel-profile-name {
  position: relative;
  top: 20%;
}

#main-panel-messages {
  position: relative;
  width: 100%;
  height: 80%;
  top: 10%;
  background-color: var(--back);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#messages-recieved {
  color: white;
  position: relative;
  margin-left: 5%;
  margin-top: 3%;
  text-align: left;
  max-width: 80%;
  border-left: 1px solid tomato;
  padding-left: 3%;
  font-weight: 300;
  line-height: 1.5rem;
}

#messages-sent {
  color: white;
  position: relative;
  right: 0%;
  margin-right: -5%;
  margin-top: 3%;
  text-align: right;
  max-width: 80%;
  margin-left: 5%;
  border-right: 1px solid var(--accent);
  padding-right: 3%;
  font-weight: 300;
  line-height: 1.5rem;
}

metadata {
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
}
timestamp {
  position: relative;
  margin-left: 1%;
  font-size: 1rem;
}

#main-panel-profile::-webkit-scrollbar {
  display: none;
}

#main-panel-bottom {
  position: fixed;
  width: 100%;
  height: 10%;
  top: 90%;
  background-color: var(--back);
}

#main-input-message {
  background-color: var(--back);
  position: relative;
  width: 56.3%;
  height: 8vh;
  top: 1vh;
  left: 3.4%;
  border: 1px solid white;
  border: 0;
  color: white;
  padding-left: 1%;
}

#main-input-message:hover {
  color: var(--accent);
}

#main-input-message:focus {
  color: white;
}

#main-input-button {
  position: relative;
  left: 5%;
  width: 5%;
  height: 8vh;
  top: 1vh;
  border-radius: 10px;
  border: 0;
  outline: 0;
  font-size: 1.2rem;
  background-color: var(--accent);
  color: var(--back);
}

#main-input-button:hover {
  color: var(--accent);
  background-color: var(--back);
  cursor: pointer;
}

#popup-user-detail {
  position: fixed;
  height: 60%;
  width: 60%;
  background-color: var(--fore);
  left: 20%;
  top: 20%;
  color: white;
  font-size: 2rem;
}

#popup-add-channel {
  position: fixed;
  height: 40%;
  width: 40%;
  background-color: var(--fore);
  left: 30%;
  top: 30%;
  color: white;
  font-size: 2rem;
}

#popup-add-channel-text {
  position: relative;
  top: 10%;
  left: 5%;
}

#channel-user-id {
  position: relative;
  left: 5%;
  margin-top: 13%;
  width: 50%;
  padding: 2% 5%;
  font-size: 1.5rem;
  background-color: var(--fore);
  outline: 0;
  border: 0;
  border-left: 1px solid var(--fore);
  color: white;
}

#channel-user-id:hover,
#channel-user-id:focus {
  border-left: 1px solid var(--accent);
  color: var(--accent);
}

#channel-user-submit {
  position: relative;
  width: 15%;
  padding: 2% 1%;
  left: 10%;
  outline: 0;
  border: 0;
  background-color: var(--fore);
  border: 1px solid white;
  color: white;
}

#channel-user-submit:hover {
  color: var(--accent);
  border: 1px solid var(--accent);
  cursor: pointer;
}

#popup-add-channel-back {
  position: relative;
  top: -60%;
  left: 90%;
  width: 5%;
  height: 5%;
  background-color: var(--fore);
  outline: 0;
  border: 0;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

#popup-add-channel-back:hover {
  color: var(--accent);
}

.hide {
  opacity: 0;
  pointer-events: none;
}

#popup-user-detail-avatar {
  position: relative;
  height: 80%;
  width: 33%;
  left: 5%;
  top: 10%;
  background-image: url('../assets/profile2.png');
  background-size: 100% 100%;
}

#popup-user-detail-text {
  position: relative;
  width: 50%;
  left: 45%;
  height: 80%;
  top: -70%;
  text-align: center;
  line-height: 6rem;
}

#popup-user-detail-back {
  position: relative;
  top: -160%;
  left: 93%;
  width: 5%;
  height: 5%;
  background-color: var(--fore);
  outline: 0;
  border: 0;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

#popup-user-detail-back:hover {
  color: var(--accent);
}

.disable {
  /* opacity: 0.3; Looks good, testing other values */
  opacity: 0.1;
  pointer-events: none;
}
